.scacademybody {
    min-height: 10vh;
    background-image: url("../assets/academyback.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;            
    display: flex;            
    flex-direction: column;     
    justify-content: flex-start;       
    text-align: center;
  }