.sceventbody {
    height: 100vh;
    background-image: url("../assets/scback.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;            
    display: flex;            
    flex-direction: column;     
    justify-content: flex-start;       
    text-align: center;
  }