.scacademybody {
  min-height: 100vh;           
  display: flex;            
  flex-direction: column;     
  justify-content: flex-start;       
  text-align: center;
  position: relative;
  z-index: 10;
}

main {
  position: relative;
  z-index: 10;
}

.subrayado {
  display: inline-block;   
  border-bottom: 2px solid var(--sc-primary); 
  padding-bottom: 4px;
  margin-bottom: 20px;
  padding-top: 25px;
  text-align: center;            
}
